# General
.DS_Store
.env
.idea
*.csv
*.log
*.pdf
*.png
*.zip
*.zpl
bin
target

# C#
.vs
src/examples/csharp/obj

# Tools
libraries

# Node
node_modules

# PHP
vendor

# Python
__pycache__
.phplint-cache
*.egg-info
venv

# Ruby
src/examples/java/jars
