<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>Label</key>
		<string>local.pullEasyPostLibraries.plist</string>
		<key>Program</key>
		<string>/Users/jhammond/git/easypost/easypost-tools/get-libraries/pull.sh</string>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/Users/jhammond/git/easypost/easypost-tools/get-libraries/logs/log.err</string>
		<key>StandardOutPath</key>
		<string>/Users/jhammond/git/easypost/easypost-tools/get-libraries/logs/log.out</string>
	</dict>
</plist>
